*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(to right,skyblue,blue);;
    color: white;
 }
 h1, form{
     height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 h1{
     font-size: 45px;
 }
 form input,
 form button{
    padding: 10px;
    border-radius: 3px;
    border: none;
    font-size: 25px;
    outline: none;
    background: white;
 }
form button {
     background-color:white;
     color: blue;
     cursor: pointer;
 }
 form button:hover {
    background-color:skyblue;
     color: white;
 }

 .todo-container{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .todo-list{
     list-style: none;
     width: 25%;
 }
 .todo{
     margin: 10px;
     background-color: white;
     color: black;
     font-size: 25px;
     display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .todo-item{
     flex: 1;
     margin: 0 8px;
 }
.chk-btn ,.dlt-btn{
    background-color: rgb(20, 211, 120);
    color: white;
    border: none;
    outline: none;
    padding: 16px;
    font-size: 15px;
}

.dlt-btn{
    background-color: palevioletred;
}

.fa-check,
.fa-trash{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.6;
}










